<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <form id="search" class="search" action="search.php" method="GET" accept-charset="utf-8">
            <input type="text" name="s" placeholder="Com o que você quer se divertir hoje?" value="" onfocus="if (this.value == '') {this.value=''}" onblur="if (this.value == '') {this.value=''}">
            <a href="#" onClick="document.getElementById('search').submit()">OK</a>
        </form>
    </div>
</div>
