<div class="social-media">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Visite nossos canais sociais</h1>
                <p class="col-md-offset-1 col-md-10">
                    Abaixo você entrontra o acesso a nossa página no Facebook, ao nosso Instagram, onde você vai encontrar dicas importantes sobre o mundo
                    da tecnologia, e também o acesso ao nosso canal do Youtube. Lá, você vai encontrar muitos vídeos com aulas gratuitas, discussões sobre
                    mercado de trabalho na área de tecnologia, e sempre vídeos novos. Vem com a gente!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>YouTube</h2>
            </div>
            <div class="col-md-4">
                <h2>Facebook</h2>
            </div>
            <div class="col-md-4">
                <h2>Instagram</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
               <img src="~/Content/img/Youtube.png" alt="YouTube" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/Facebook.png"  alt="Facebook" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/img/Instagram.png" alt="Instagram" />
            </div>
        </div>
    </div>
</div>