<div class="page-block" id="page-block-l1sb933ggax9ohotov4sfw29">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-image widget-image "
                 id="element-482">
                <div class="contents">
                    <img src="//storage.googleapis.com/instapage-user-media/907ded9c/8980558-0-Dino-Mordida-Carubbi.png"
                         style="height: 100%; width: 100%; margin-top: 0px;"
                         alt="" />

                </div>
            </div>

        </div>
    </div>
</div> 